*{
background:;
}
@media (min-width:768px)
{
#rem{
display:none;
}
}
#nb{
font-weight:bold;
}
#menu{
font-weight:1000;
}
.para{
text-align:center;
font-weight:800;
}
#box1{
background:grey;
height:1000px;
}
#box2{
background:lightgrey;
}
#box3{
background:darkgrey;
}

